/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}

.bgimg {
    /* Background image */
    background: url('background.png') no-repeat center;
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    /* Scale and zoom in the image */
    background-size: auto;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: GREY;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 12px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 12px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: left
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 30%;
}
